.link-section {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  padding: 12px 4px;
  padding-right: 40px;
  width: 360px;
  border-radius: 6px;
  border: 2px none black;
  background-color: white;

  box-shadow: 0px 4px 1px rgba(0,0,0,0.08)
}

.icon-section {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px none red;
}

.icon-section img {
  width: 20px;
  border: 1px none red;
}

.text-section {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: 'Quicksand';
  font-weight: 400;
}

