body {
  background-image: url('../images/sunset-gradient.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  font-family: "Gabarito", sans-serif;
} 

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.page-container {
  display: grid;
  grid-template-rows: 300px 1fr;
  align-items: center;
  justify-content: center;
}


.photo-credit {
  position: fixed;
  z-index: 1000;
  bottom: 4px;
  right: 6px;
}

.photo-credit, 
.photo-credit a{
  color: white;
  font-size: 12px; 
}

.photo-credit a {
  text-decoration: underline;
}

.photo-credit a:hover {
  color: rgba(44, 50, 88,0.6);
}

.photo-credit a:active {
  color: rgba(39, 46, 82, 0.991);
}

