body {
  background-image: url('../images/sunset-gradient.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  font-family: "Gabarito", sans-serif;
} 

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.page-container {
  display: grid;
  grid-template-rows: 300px 1fr;
  align-items: center;
  justify-content: center;
}