.link-section {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  padding: 12px 4px;
  padding-right: 40px;
  margin: 10px 0px;
  width: 360px;
  border-radius: 6px;
  border: 1px none orange;
  background-color: white;
  box-shadow: 0px 4px 5px rgba(0,0,0,0.15);

  transition: background-color 0.15s,
              box-shadow 0.15s;

}

.link-section:hover {
  background-color: transparent;
  box-shadow: 0px 4px 5px rgba(0,0,0,0.15),
              0px 0px 20px rgba(29, 33, 79, 0.5);
}

.link-section:hover img {
  filter: invert(100%);
}

.link-section:hover .text-section {
  color: #ffffff;
}



.icon-section {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px none red;
}

.icon-section img {
  width: 20px;
  border: 1px none red;
  transition: filter 0.2s;
}

.text-section {
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 400;
  color: black;
  transition: color 0.15s;
}

