.profile-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 404px;
}

.profile-pic-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  transition: border 0.1s;
  box-shadow: 0px 0px 100px rgba(0,0,0,0.4);
}

.profile-pic-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.name-section {
  margin: 8px 0px 0px 0px;
  font-size: 26px;
  font-weight: 300;
  color: white;
}

.email-section {
  font-size: 12px;
  color: white;
}